<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>User Auth</title>
    <script src="./assets/js/login.js" async></script>
</head>

<body>
    <div class="login-container">
        <form class="form" id="form">
            <h1>Sign In</h1>
            <input type="email" id="email" placeholder="E-mail" required>
            <input type="password" id="password" placeholder="Password" required>
            <button id="submitButton">LOGIN</button>
        </form>
        <a href="/signup">Don't have account? Register now</a>
    </div>
</body>

</html>
